.root{
    
    background-image:url(https://i.pinimg.com/736x/27/dc/98/27dc98ce632b46e951a82e81c7a7890d.jpg);
     display:inline-block;
     border-radius: 50%;
     vertical-align: top;
     margin-left: 15%;
     margin-top: 7%;
     width: 1024px; 
     height: 470px;

    }

 body{
     background: #fafafa;
    }


.portadaMenu{
    background-image:url(https://i.pinimg.com/originals/41/87/8d/41878deea8b5caa252d4e3781f48accb.png);
    display:inline-block;
    border-radius: 20%;
     vertical-align: top;
     margin-left: 15%;
     margin-top: 7%;
     width: 1000px; 
     height: 365px;

   }

.resultado{
    background-image:url(https://i.pinimg.com/564x/0b/7b/f8/0b7bf87aadb1f58536a9604dad635614.jpg);
    display:inline-block;
    border-radius: 5%;
     vertical-align: top;
     margin-left: 15%;
     margin-top: 0.5%;
     width: 1000px; 
     height: 590px;                  
           }         
 


h1{
    font-size: 60px;
    margin: auto;
    padding-top: 13.5rem;
    font-family: centuy;
    text-align: center;
}

p{
    font-size: 20px;
    margin-inline-start: 1%;
    font-family: centuy Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.btninicio{
    
    font-size:25px;
    font-family:Arial;
    color: #fafafa;
    background:rgba(231, 164, 131, 0.788);
         width: 160px;
         height:40px;
         border-radius: 10%;
         margin-left: 56%;
         margin-top: 5%;
         left: 90%;
         transition: all 2s ease;               
          }

 .btnCifra_Menu{
    font-size:25px;
    font-family:Arial;
    color: #fafafa;
    background:rgba(231, 164, 131, 0.788);
                width: 235px;
                height:55px;
                border-radius: 10px;
    margin-left: 16%;
    margin-top: 20%;
                                            
    }

 .btnDecifra_Menu{
    font-size:25px;
    font-family:Arial;
    color: #fafafa;
    background:rgba(231, 164, 131, 0.788);
            width: 275px;
            height:55px;
     border-radius: 10px;
     margin-left: 25%;
     margin-top: 20%;                                                   
   }
         
   .btn_Menu{
    font-size:20px;
    font-family:Arial;
    color: #fafafa;
    background:rgba(231, 164, 131, 0.788);
    width: 200  px;
    height:40px;
    border-radius: 10px;
    margin-left: 75%;
    margin-top: 0%;                                                   
   }      


 .etTxtEntrada{
    font-size:25px;
     top: 180px;
     position: relative;
     vertical-align: 105%;
     margin-left: 10%;
                  
     }

 .etTxtOffset{
        font-size:25px;
         top: 180px;
         position: relative;
         vertical-align: 105%;
         margin-left: 30%;
                      
         }    

.recibeTxtEntrada{
        font-size:20px;
        top: 195px;
        position: relative;
        margin-left: 10%;
              
        }  
        
.niveloff{
    font-size:20px;
    top: 170px;
    position: relative;
    margin-left: 63%;
        
}

.btnCifrar{
    font-size:25px;
    font-family:Arial;
    color: #fafafa;
    background:rgba(164, 202, 58, 0.788);
            width: 125px;
            height:50px;
     border-radius: 10px;
     margin-left: 80%;
     margin-top: 20%;  
      
}

.txtResultado{
    font-size:25px;
     top: 50px;
     position: relative;
     vertical-align: 105%;
     margin-left: 10%;
}
 
.btndeCifrar{
    font-size:25px;
    font-family:Arial;
    color: #fafafa;
    background:rgba(164, 202, 58, 0.788);
            width: 125px;
            height:50px;
     border-radius: 10px;
     margin-left: 80%;
     margin-top: 20%;  
    
}